<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      @import
      url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
      body { font-family: "Poppins", sans-serif; } body { background-color:
      #3333; display: flex; align-items: center; justify-content: center;
      min-height: 100vh; } .container { width: 100%; max-width: 500px;
      background-color: #000016; padding: 10px 20px; border-radius: 5px; color:
      #fff; } .company-logo { width: 200px; height: 80px; } .content-container
      h1 { font-weight: 500; } .content-container p { line-height: 1.6;
      font-size: 16px; letter-spacing: 0.3px; font-weight: 300; }
      .content-container p .content-email { color: rgb(133, 5, 253);
      font-weight: 400; } .content-container p .content-answer { font-weight:
      400; color: blueviolet; }
    </style>
  </head>
  <body>
    <div class="container">
      <img
        src="https://sitelabs.vercel.app/static/media/logo.e54a09ff9b95177251e4.png"
        alt="company logo"
        class="company-logo"
      />
      <div class="content-container">
        <h1>Javob xati</h1>

        <p>
          Siz
          <a class="content-email" href={{currentEmail}}>{{currentEmail}}</a>
          dan yuborgan murojaatingizga javob sifatida
          <span class="content-answer">
            {{text}}
          </span>
        </p>
      </div>
    </div>
  </body>
</html>